<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1036662807132-unesnjt0nia4s9l146qodatnn8kdi27r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1036662807132-unesnjt0nia4s9l146qodatnn8kdi27r</string>
	<key>API_KEY</key>
	<string>AIzaSyBXmEfgMztPxp_JHeK7ftJWlbwKI0MzSpg</string>
	<key>GCM_SENDER_ID</key>
	<string>1036662807132</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>eg.edu.mans.proeye</string>
	<key>PROJECT_ID</key>
	<string>pro-eye-9bfb4</string>
	<key>STORAGE_BUCKET</key>
	<string>pro-eye-9bfb4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1036662807132:ios:4e0215de5867cf2a312499</string>
</dict>
</plist>